body{
  background-color: #f2f0eb;
}
@keyframes scorri1 {
  from {transform: translate(0, -100vh);}
to {transform:translate(0,0);}
}
@keyframes scorri2 {
  from {transform: translate(0, 100vh) rotate(180deg) scaleX(-1);}
to {transform:translate(0,0) rotate(180deg) scaleX(-1);}
}
.img1{
position: absolute;
top:30vh;
left: 5%;
width: 20vw;
height: 30vw;
animation: scorri1 4s;
}
.img2{
  position: absolute;
  top:15vh;
  right: 5%;
  transform: rotate(180deg) scaleX(-1);
  width: 20vw;
  height: 30vw;
  animation: scorri2 4s;
}
#pagina{
  width: 100vw;
  height:300vh;
  background-color: #f2f0eb;

}
#sfondo {
  width: 100vw;
  height: 100vh;
  position:absolute;
  left: 0%;
  top: 0%;
  transform:translate(0%, 0%);
  background-color: #f2f0eb;

}
.titolo{
  position: absolute;
  left: 50vw;
  top: 40vh;
  transform:translate(-50%, 0%)
}
h1 {
  color:black;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  font-size: 12vw;
  margin: 0;
  transform: translate(0%, -20%);
}
.sottotitolo{
  position: absolute;
  top: 65vh;
  left: 40vw;
  transform: translate(0%,0%);
  animation: scorri1 3s;
}


h2 {
  color:black;
  text-align: center;
  font-family: 'Reenie Beanie', cursive ;
  font-size: 3vw;
  transform: translate(-20%, 0%)
  }

.indice{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:10vh;
  padding:2vh;
  background-color: #4056a1;
  text-align: center;
}
.home{
  font-family: 'Reenie Beanie', cursive ;
  font-size: 3vw;
  color: #c5cbe3;
  text-decoration: none;
  width:5%;
  height:8%;
  position: fixed;
  top: 1vh;
  left: 10vh;
  background-color: #4056a1;
}
#logobf {
  width: 10vh;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}
#indice li {
  display: inline-block;
  text-align: center;
  margin: 0 3vw;
  font-size: 2.5vw;
    }
#indice a {
  color:#c5cbe3;
  font-family: 'Reenie Beanie';
  text-decoration: none;
  text-align: center;
}
#indice a:hover{
  transition:3s;
  text-decoration: underline;
}
a:visited{
  color: white;
  }

.home a:visited{
  color:#c5cbe3;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: table;

}

.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  background-size: 14px auto;

  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #4056a1;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2vh;
}
h3 {
  color:#d79922;
  font-family: 'Reenie Beanie';
  font-size: 4vh;
}
#tutto {
  position: absolute;
  top:100%;
  width:100vw;
  height:300vh;
 background-color: #f2f0eb;
}
.ak{
  display: block;
  height: 5vh;
  margin-top: 0vh;
  visibility: hidden;
}

#fot{
  position:absolute ;
  top:42vh;
  left:25vh;
  transform: translate(0,50%);
  width: 55vw ;
  height: 30vh;
}
.img3{
  display:inline-block;
  margin-right: 2vw;
  transform: translate(-80%,50%);
  width: 15vw ;
  height: 15vw;
}
.img3:hover{
  transform: scale3d(2,2,2);

}

.ak2{
  display: block;
  margin-top: 90vh;
  visibility: hidden;
}
.ak3{
  display: block;
  margin-top: 200vh;
  visibility: hidden;
}
#testo a{
  color: #4056a1;
  text-decoration: none;
}
#testo a:hover{
  text-decoration: underline;
}
#youtube{
  width:4vw;
  height: 3vw;
  position: relative;
  transform: translate(0,40%);
}
.port a{
  color: #4056a1;
  text-decoration: none;
}
.port a:hover{
  text-decoration: underline;
}
#impronte {
  width:100vw;
  position: static;
}

#foot1L{
position: absolute;
top:48%;left:10vw;
height: 8vw;
width: 8vw;
transform: translate(0, -50%);

}
#foot2R{
position: absolute;
top:48%;
left:25vw;
height: 8vw;
width: 8vw;
}
#foot2L{
position: absolute;
top:48%;
left:40%;
height: 8vw;
width: 8vw;transform: translate(0, -50%);
}
#foot3R{
position: absolute;
top:48%;
left:55vw;
height: 8vw;
width: 8vw;
}

#foot3L{
position: absolute;
top:48%;
left:70%;
height: 8vw;
width: 8vw;
transform: translate(0, -50%);
}

#foot4R{
position: absolute;
top:48%;
left:85vw;
height: 8vw;
width: 8vw;
}

.foot{
  opacity: 0.2;
}
.foot:hover{
  opacity: 1;
}



#box{
  position: absolute;
  left:13vw;
  width: 21vw;
  height: 10vh;
  }

#testo{
  position: absolute;
  width: 55vw;
  height: 17%;
  }
.destra{
  left:20vw;
}

.sinistra{
  right:7vw;
}
#testo.f, #foto {
  position: absolute;
}
.f{
  position: absolute;
  top: 5%;
  width:15vw;
  }
.c{
  position: absolute;
  top: 40%;

  width:20vw;
}

#cu1{
      position: absolute;
      left:-5%;
      top:0;
      width: 15vw;
      background-color: #f7f1dc;
      border-radius: 20%;
    } #cu1:hover{
      transform: scale(1.2,1.2);
    }
    #cu2{
      position: absolute;
      left:40%;
      top:0%;width: 17vw;background-color: #f7f1dc;
      border-radius: 20%;
    } #cu2:hover{
      transform: scale(1.2,1.2);
    }
    #cu3{
      position: absolute;
      left:-5%;
      top:105%;
      width:15vw;
      background-color: #f7f1dc;
      border-radius: 20%;
    } #cu3:hover{
      transform: scale(1.2,1.2);
    }
    #cu4{
      position: absolute;
      left:40%;
      top:105%;width: 17vw;background-color: #f7f1dc;
      border-radius: 20%;
    } #cu4:hover{
      transform: scale(1.2,1.2);
    }
    #cu5{
      position: absolute;
      left:20%;
      top:50%;width: 15vw;background-color: #f7f1dc;
      border-radius: 20%;
    } #cu5:hover{
      transform: scale(1.2,1.2);
    }
.p{
  position: absolute;
  bottom:15%;
}
.port{
  width:50%;
  height: 10%;
}
.co{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height:15vh;
background-color: #4056a1;
text-align: center;
}
#logo{
  width:13px;
  height: 13px;

}

h4 {
  color:#c5cbe3;
  text-align: center;
  font-family: 'Reenie Beanie';
  font-size: 2em;
  }
  h5 {
    color:#4056a1;
    font-family: 'Reenie Beanie';
    font-size: 2em;
    }

.portfolio{
  position: absolute;
  top: 20vh;
  left: 7vw;
  width: 80vw;
  height:450vh;
  }
#porti{
  position: absolute;
  left: -10vw;
}
.day{
  position: absolute;
  top:-5vh;
  left: 20vw;
  height: 20vh;
  width: 60vw;
  background-color: ;
  }

.elem{
    position: absolute;
    top: 85vh;
    left: 20vw;
    height: 15vh;
    width: 60vw;

    }

.logh{
      position: absolute;
      top: 155vh;
      left: 20vw;
      height: 15vh;
      width: 60vw;

      }

.myfoto{
  position: absolute;
  top: 290vh;
  left: 20vw;
  height: 15vh;
  width: 60vw;

}
.eser{
  position: absolute;
  top: 415vh;
  left: 20vw;
  height: 15vh;
  width: 60vw;

}
#video {
  position: absolute;
  top: 40vh;
  left: 25vw;
  height:335;
  width: 190;
  background-color:#4056a1;
}
#video2 {
  position: absolute;
  top: 40vh;
  left: 40vw;
  height:360;
  width:640;
  background-color:#4056a1;
}

#es01 {
  position: absolute;
  top: 125vh;
  left:25vw;
  height: 15vw;
  width: 15vw;
} #es01:hover{
  transform: scale3d(2,2,2);
}
#es02 {
  position: absolute;
  top: 125vh;
  left:41vw;
  height: 15vw;
  width: 15vw;
}#es02:hover{
  transform: scale3d(2,2,2);
}
#gif1 {
  position: absolute;
  top: 125vh;
  left:59vw;
  height: 15vw;
  width: 15vw;
} #gif1:hover{
  transform: scale3d(2,2,2);
}
#gif2 {
  position: absolute;
  top: 125vh;
  left:75vw;
  height: 15vw;
  width: 15vw;
}#gif2:hover{
  transform: scale3d(2,2,2);
}
#dis1 {
  position: absolute;
  top: 195vh;
  left:20vw;
  height: 22.5vw;
  width: 19vw;
}#dis1:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#dis2 {
  position: absolute;
  top: 195vh;
  left:40vw;
  height: 22.5vw;
  width: 18vw;
}#dis2:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#log1 {
  position: absolute;
  top: 195vh;
  left:60vw;
  height: 22.5vw;
  width: 22.5vw;
}#log1:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#log2 {
  position: absolute;
  top: 243vh;
  left:17vw;
  height: 22.5vw;
  width: 22.5vw;
}#log2:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#video3 {
  position: absolute;
  top: 243vh;
  left: 40vw;
  height:360;
  width: 640;
  background-color:#4056a1;
}
#foto1 {
  position: absolute;
  top: 333vh;
  left:25vw;
  height: 20vw;
  width: 33vw;
}#foto1:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#foto2 {
  position: absolute;
  top: 333vh;
  left:65vw;
  height: 20vw;
  width: 20vw;
}#foto2:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#foto3 {
  position: absolute;
  top: 377vh;
  left:25vw;
  height: 20vw;
  width: 33vw;
}#foto3:hover{
  transform: scale3d(1.5,1.5,1.5);
}
#foto4 {
  position: absolute;
  top: 377vh;
  left:65vw;
  height: 20vw;
  width: 20vw;
}#foto4:hover{
  transform: scale3d(1.5,1.5,1.5);
}

@keyframes flower {
  0% {
    transform: rotate(0deg);
    box-shadow: white 0 0 30px 0, #f24c4e -24px -24px 0 8px, #eab126 24px -24px 0 8px,#f24c4e 24px 24px 0 8px, #eab126 -24px 24px 0 8px;
  }
  75% {
    transform: rotate(720deg);
    box-shadow: white 0 0 30px 0, #f24c4e 24px 24px 0 8px, #eab126 -24px 24px 0 8px, #f24c4e -24px -24px 0 8px, #eab126 24px -24px 0 8px;
  }
  100% {
    transform: rotate(900deg);
    box-shadow: white 0 0 30px 0, #f24c4e 24px 24px 0 8px, #eab126 -24px 24px 0 8px, #f24c4e -24px -24px 0 8px, #eab126 24px -24px 0 8px;
    }
}

#flower {
  position: fixed;
  top:390vh;
  left:50vw;
  width: 32px;
  height: 32px;
  background: yellow;
  border-radius: 100%;
  box-shadow: white 0 0 30px 0, #f24c4e -24px -24px 0 8px, #eab126 24px -24px 0 8px, #f24c4e 24px 24px 0 8px, #eab126 -24px 24px 0 8px;
  animation: flower 4s infinite ease-in-out;
  }
